body {
    background-color: lightblue;
}

h1 {
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

/* indica id */
h1#titulo1 {
  color: green;
}

h1#titulo2 {
  color: red;
}

/* indica class */
.artigo {
  font-weight: bold;
  font-size: 2em;
  font-family: sans-serif;
}
